DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=postgres
DATABASE_PASSWORD=123456
DATABASE_NAME=fixhack
DATABASE_SSL_ENABLED=false

API_PORT=3001
UPLOAD_DIR=./uploads/issue-photos
ADMIN_API_KEY=dev-admin-key-change-me

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_WAREHOUSE=CIVIC_WH
SNOWFLAKE_DATABASE=CIVIC
SNOWFLAKE_SCHEMA=PUBLIC
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_STAGE=ISSUE_PHOTOS

NEXT_PUBLIC_API_URL=http://localhost:3001
